<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  {% include "components/navbar.html.jinja"%}
  <h1 class="text-center my-3">Cart</h1>

  <main class="container table-responsive-sm">
    {%if products |length ==0 %}
    <p fs-1>Your Cart is Empty</p>
    {%else%}
    <table class="table">
      <thead>
        <tr class="fs-4">
          <th>Book</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in products %}
        <tr class="fs-4">
          <td class="d-flex">
          <img src="{{item['image']}}" alt="{{item['title']}}" width="100"> 
          <div class="mx-3">
          <p class="fw-bold">{{item['title']}}</p>
          <p class="text-secondary fs-5">By {{item['author']}}</p>
          </div>
          </td>
          <td>
            <form id="updateForm-{{item['id']}}" action="/update/{{item['id']}}//update" method="post">
              <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="30"
              value="{{item['quantity']}}">
            </form>
          </td>
          <td>{{"%.2f" | format(item["price"])}}</td>
          <td>{{ "%.2f" | format(item['price'] * item['quantity']) }}</td>

          <!--Save Button-->
          <td>
            <button form="updateForm-{{item['id']}}" type="submit" class="btn btn-primary btn-lg my-1">
              <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="21" height="21">
                <path
                  d="M4.5 14.5v-3a1 1 0 011-1h4a1 1 0 011 1v3m3 0h-12a1 1 0 01-1-1v-12a1 1 0 011-1h8.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V13.5a1 1 0 01-1 1z"
                  stroke="currentColor">
                </path>
              </svg>
            </button>

            <form action="/cart/{{item['id']}}/delete" method="post">
              <!--Trash Button-->
              <button type="submit" class="btn btn-danger btn-lg my-1">
                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="21" height="21"><path d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3" stroke="currentColor"></path></svg>
              </button>
              
            </form>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <table class="table">
     <tr>
        <td class="text-white invisible">Moving the total to the right</td>
        <td class="fs-2 text-center"><b>Total:</b> ${{"%.2f" | format(price)}}</td>
      </tr>
    </table>

    <a href="/checkout" class="btn btn-primary btn-lg fs-2 position-absolute start-50 translate-middle my-5 w-50">Checkout</a>

    {%endif%}
  </main>

  



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>